<!-- ======= educacíon y experiencia ======= -->
<section id="edu" class="edu">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="edu-title">Educación</h3>
                <div class="edu-item">
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <h5>2017 - 2018</h5>
                    <p><em>Instituto</em></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, odio.</p>
                </div>
                <div class="edu-item">
                    <h4>Lorem ipsum dolor sit amet. &amp; Python</h4>
                    <h5>2018 - 2021</h5>
                    <p><em>Instituto</em></p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita illum perferendis, dolor
                        inventore eos temporibus!</p>
                </div>
                <i class="fa fa-pen"></i>
                <i class="fa fa-times"></i>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="edu-title">Experiencia</h3>
                <div class="edu-item">
                    <h4>Redes</h4>
                    <h5>2013 - 2022</h5>
                    <p><em>----------------</em></p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, nemo.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </li>
                        <li>Lorem ipsum dolor sit amet consectetur.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias excepturi soluta odit.</li>
                    </ul>
                </div>
                <div class="edu-item">
                    <h4>Lorem, ipsum dolor.</h4>
                    <h5>2006 - 2013</h5>
                    <p><em>...................................</em></p>
                    <ul>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque?</li>
                        <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
                    </ul>
                </div>
                <i class="fa fa-pen"></i>
                <i class="fa fa-times"></i>
            </div>
        </div>
        <hr>
    </div>
</section>