/* Social */

.social {
    margin: 10px;
    transform: translateX(1.5em);
}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    text-decoration: underline rgb(2, 14, 36);
    text-underline-offset: 25%;
}

/* link centrados */
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
    color: #410cd49a;
}

/* Tamaño icono */
.links a i {
    text-decoration: none;
    color: rgb(42, 25, 194);
    font-size: 3rem;
    padding: 10px 30px;
    border: 1px;
    border-radius: 1000px;
    display: inline-block;
    transition: all .2s;
    position: relative;
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(1, 5, 252, 0.5);
    transform: translateY(-3px);
}


/* Flecha Arriba */

.up {
    height: 30px;
    width: 50px;
    position: fixed;
    background: rgba(255, 255, 255, 0.815);
    text-decoration: none;
    text-align: center;
    line-height: 1px;
    color: width;
    color: black;
    font-size: 30px;
    border-radius: 25%;
    right: 50px;
    margin-bottom: -100px;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}