<!-- Contacto Redes -->
<section id= "contacto" class="social">
    <p>Contacto</p>
    <div class="links">
        <a href="mailto:luisbenedetich@gmail.com" target="_blank">
            <i class="fa fa-envelope"></i>
        </a>
        <a href="https://www.linkedin.com/in/luis-benedetich/" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/luiohol" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </div>
    <hr>
    <!-- Scroll arriba -->
    <a class="up" href="#top"> <i class="fa fa-angle-up"></i> </a>
</section>