<section id="edu" class="edu">
    <div class="container">
        <div class="row">
            <div class="col-lg-11" data-aos="fade-up">
                <h3 class="edu-title">Educación</h3>
                <div class="edu-item" *ngFor="let Educacion of educacion">
                    <div class="boton">
                        <i class="fa fa-times"  style=" color: rgb(153, 8, 8)"(click)="delete(Educacion.id)"*ngIf="isLogged"> </i>
                    </div>

                    <h4>{{Educacion.nombreE}}</h4>
                    <p><em>{{Educacion.descripcionE}}</em></p>
                    <div class="boton">
                        <i class="fa fa-pen" style="color: rgb(5, 128, 11);"routerLink="/editedu/{{Educacion.id}}" *ngIf="isLogged"> </i>
                    </div> 
                </div>
                <div class="boton">
                    <i class="fa fa-plus-circle" style=" color: rgb(8, 27, 133)"routerLink="/nuevaedu" *ngIf="isLogged"> </i>
                </div>

            </div>
        </div>
    </div>
    <hr>
</section>
