<!-- Proyectos -->
<section class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box">
                    <h3 id= "proyectos" class="titulo">
                        Proyectos
                    </h3>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="boton">
            <i class="fa fa-plus-circle" style=" color: rgb(8, 27, 133)" routerLink="/newproyect" *ngIf="isLogged"> Agregar</i>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4" >
            <div class="col"*ngFor="let proyectos of proyecto">
                <div class="card">
                    <img src="{{proyectos.img}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{proyectos.titulo}}</h5>
                        <p class="card-text">{{proyectos.subtitulo}}
                        </p>
                        <div class="mas" >
                            <a href="{{proyectos.enlace}}" target="_blank">
                                <i class="fa fa-plus-circle" ></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="boton">
                    <i class="fa fa-times"  style=" color: rgb(153, 8, 8)"(click)="delete(proyectos.id)" *ngIf="isLogged"> </i>
                </div>
                <div class="boton">
                    <i class="fa fa-pen" style="color: rgb(5, 128, 11);"routerLink="/editproyect/{{proyectos.id}}" *ngIf="isLogged"> </i>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>