<!-- Proyectos -->
<section class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="title-box text-center">
                    <h3 id= "proyectos" class="titulo">
                        Proyectos
                    </h3>
                    <p class="subtitulo">
                        Algunos de los proyectos que hice y estoy haciendo en este poco tiempo de escribir código.
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="../../../assets/img/Angular.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">AppTareas</h5>
                        <p class="card-text">Primera App con Angular CRUD Operations

                        </p>
                        <div class="mas" >
                            <a href="https://github.com/luiohol/AppTareas" target="_blank">
                                <i class="fa fa-plus-circle" ></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../../assets/img/sqlite.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Inscripciones de alumnos</h5>
                        <p class="card-text">Modulación sqlite 3 y python 2.7 Ejecicio de modulación Peticiones y comprobación de datos del usuario
                        </p>
                        <div class="mas">
                            <a href="https://github.com/luiohol/BD-Modulo-Cursos" target="_blank">
                                <i class="fa fa-plus-circle" ></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../../assets/img/6.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Desafios</h5>
                        <p class="card-text">Desafios en Python
                        </p>
                        <div class="mas">
                            <a href="https://github.com/luiohol/Desafios" target="_blank">
                                <i class="fa fa-plus-circle" ></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>