<section id="about" class="about">
    <div class="container">
        <div class="titulo">
            <h2>Sobre mí</h2>
            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ut laborum debitis fugit, quisquam voluptate
                soluta praesentium expedita necessitatibus qui.</p>
            
        </div>
        <div class="boton">
            <i class="fa fa-plus-circle"></i>
        </div>
        
        <div class="boton" >
            <i class="fa fa-pen"></i>
        </div> 

        <div class="boton">
            
            <i class="fa fa-times"></i>
        </div>
        <hr>
    </div>
</section>
