<section id="about" class="about">
    <div class="container">
        <div class="titulo" >
            <h2>Sobre mí</h2>
            <p id="nombre" class="persona">{{persona.nombre}} {{persona.apellido}}</p>
            <p><em>Full Stack Developer Jr</em>
                <div class="boton" *ngFor="let Descripcion of descripcion">
                    <p><em>{{Descripcion.descripcion}}</em></p>
                    <i class="fa fa-pen" routerLink="/editdescp/{{Descripcion.id}}" *ngIf="isLogged"></i>
                </div>        
        </div>
        <hr>
    </div>
</section>
