<section id="about" class="about">
    <div class="container">
        <div class="titulo">
            <h2>Sobre mí</h2>
            <p id="nombre" class="persona">{{persona.nombre}} {{persona.apellido}}</p>
            <p><em>Full Stack Developer Jr</em>
            <p><em>Con diez años de experiencia en soporte técnico en TI y quince años en comercio.
                Siempre dispuesto a resolver problemas y ayudar a otros para lograr un mejor desempeño. Me
                apasionan las nuevas tecnologías y siempre estoy dispuesto a capacitarme para mejorar mis
                habilidades.</em></p>
        </div>
        <hr>
    </div>
</section>
