/*--------------------------------------------------------------
# Sobre Mi
--------------------------------------------------------------*/


.about {
    margin-top: 60px;
    margin-bottom: 10px;

}

.about h2 {
    text-decoration: underline rgb(2, 14, 36);
    text-underline-offset: 25%;
}

.about p {
    justify-content: center;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

.persona{
    font-weight: bold;
    font-size: 20px;
}
.boton{
    justify-content: space-between;
    cursor: pointer;
    
    border-radius: 6px;
        
}
