.gradient-custom {
    margin: auto;
    background-color: #a7b8d5;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    /* fallback for old browsers */
    

    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }


  