<!--Habilidades Bootstrap -->
<section id="skills" class="skills section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Habilidades y Competencias</h2>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="progress" *ngFor="let Skill of skill">
                    <span class="skill">{{Skill.nombreS}}</span>
                    <progress class="barra" max="100" value="{{Skill.porcentajeS}}"> {{Skill.porcentajeS}} </progress>
                    <div class="boton">
                        <i class="fa fa-pen" routerLink="/editskill/{{Skill.id}}" *ngIf="isLogged"> Edit</i>                    
                    </div> 
                </div>
                <div class="boton">
                    <i class="fa fa-plus-circle" routerLink="/nuevaskill" *ngIf="isLogged"> Nueva</i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="progressCircle">
                    <circle-progress
                    [percent]="50"
                    [radius]="50"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    outerStrokeColor=#1700c2
                    outerStrokeGradientStopColor=#500e86
                    innerStrokeColor=#808080
                    subtitleColor=#000000
                    [animation]="true"
                    [animationDuration]="300"
                ></circle-progress>
                <span class="skill">Inglés</span>
                <circle-progress
                        [percent]="90"
                        [radius]="50"
                        [outerStrokeWidth]="10"
                        [innerStrokeWidth]="8"
                        outerStrokeColor=#a100c2
                        outerStrokeGradientStopColor=#500e86
                        innerStrokeColor=#808080
                        subtitleColor=#000000
                        [animation]="true"
                        [animationDuration]="300"
                    ></circle-progress>
                    <span class="skill">Github</span>

                </div>
            </div>
        </div>
       
    </div>
        <hr>
</section>