<!--Habilidades Bootstrap -->
<section id="skills" class="skills section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Skills</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, eligendi. Nostrum laborum optio
                voluptates, eaque necessitatibus obcaecati sint rem porro? A quis nobis maxime dolore..</p>
        </div>
        <i class="icon-pull-right fa fa-pen"></i>
        <i class="icon-pull-right fa fa-times"></i>
        <hr style="background-color: rgb(146, 30, 30); width:20%;">
        <i class="fa fa-xmark"></i>
        <div class="row skills-content">
            <div class="col-lg-6" data-aos="fade-up">
                <div class="progress">
                    <span class="skill">HTML</span>
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90"
                        aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
                <div class="progress">
                    <span class="skill">CSS</span>
                    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100">50%</div>
                </div>
                <div class="progress">
                    <span class="skill">JavaScript</span>
                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100">60%</div>
                </div>
                <div class="progress">
                    <span class="skill">Angular</span>
                    <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55"
                        aria-valuemin="0" aria-valuemax="100">55%</div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up">
                <div>
                    <span class="skill">Ingles</span>
                    <circle-progress
                        [percent]="50"
                        [radius]="50"
                        [outerStrokeWidth]="10"
                        [innerStrokeWidth]="8"
                        outerStrokeColor=#04192f
                        outerStrokeGradientStopColor=#500e86
                        innerStrokeColor=#808080
                        subtitleColor=#000000
                        [animation]="true"
                        [animationDuration]="300"
                    ></circle-progress>
                    <span class="skill">Github</span>
                    <circle-progress
                        [percent]="60"
                        [radius]="50"
                        [outerStrokeWidth]="10"
                        [innerStrokeWidth]="8"
                        outerStrokeColor=#04192f
                        outerStrokeGradientStopColor=#500e86
                        innerStrokeColor=#808080
                        subtitleColor=#000000
                        [animation]="true"
                        [animationDuration]="300"
                    ></circle-progress>
                </div>
                <div>
                    <span class="skill">Group work</span>
                    <circle-progress
                        [percent]="80"
                        [radius]="50"
                        [outerStrokeWidth]="10"
                        [innerStrokeWidth]="8"
                        outerStrokeColor=#04192f
                        outerStrokeGradientStopColor=#500e86
                        innerStrokeColor=#808080
                        subtitleColor=#000000
                        [animation]="true"
                        [animationDuration]="300"
                    ></circle-progress>
                    
                </div>
                <div>

                </div>
            </div>
        </div>
        <hr>
    </div>
</section>