/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100;1,200&display=swap');
* {
    
    margin: 0;
    padding: 0;
    
}

/* Boton Arriba config */
html{
    scroll-behavior: smooth;
  }


body {
    margin: auto;
    background: rgb(34,94,195);
    background: linear-gradient(0deg, rgba(34,94,195,0.9440860215053763) 0%, rgba(209,206,199,1) 100%);    
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
}


/*  iconos para editar */
.titulo i {
    width: 20px;
    padding: 5px;
    margin: 0 0 10px 0;
    text-align: left;
    cursor: pointer;
}

.icon-pull-right {
    float: right;
}


